# Visual Studio Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Apio
_build/

# C
*.o
*.ko
*.mod
*.mod.c
*.symvers
*.order

# Python
__pycache__/
*.pyc

# macOS
.DS_Store
.Spotlight-V100/
.Trashes/
.AppleDouble
._*

# Windows
Desktop.ini
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/
