# FPGA Pin Constraint File (PCF)
# TDM Aggregator with 24 mics

# SPDX-FileCopyrightText: (C) 2026 Mark Warriner
# SPDX-License-Identifier: 0BSD

set_io REFCLK  P7  # input  - 12MHz reference clock
set_io CORECLK P9  # output - constaint hack and test point

# Upstream interface with MEMS mics
# TODO: Update pin assignment for SD pins to ease board layout
set_io SCK    H12  # output - I2S clock to mics via buffer
set_io WS     G14  # output - I2S word select to all 8 mics
set_io SD[1]  G12  # input  - I2S data from mics 1L and 1R
set_io SD[2]  F14  # input  - I2S data from mics 2L and 2R
set_io SD[3]  F12  # input  - I2S data from mics 3L and 3R
set_io SD[4]  E14  # input  - I2S data from mics 4L and 4R
set_io SD[5]  F3   # input  - I2S data from mics 5L and 5R
set_io SD[6]  E1   # input  - I2S data from mics 6L and 6R
set_io SD[7]  D1   # input  - I2S data from mics 7L and 7R
set_io SD[8]  C1   # input  - I2S data from mics 8L and 8R
set_io SD[9]  H3   # input  - I2S data from mics 9L and 9R
set_io SD[10] G3   # input  - I2S data from mics 10L and 10R
set_io SD[11] A3   # input  - I2S data from mics 11L and 11R
set_io SD[12] A2   # input  - I2S data from mics 12L and 12R

# Downstream interface with Raspberry Pi 5
set_io PI_SCK B14  # output - I2S clock to Pi
set_io PI_WS  C12  # output - I2S word select to Pi
set_io PI_SD  C14  # output - I2S data to Pi
set_io PI_ALN D12  # input  - alignment control from Pi
set_io PI_SDA D14  # inout  - I2C data to/from Pi
set_io PI_SCL E12  # input  - I2C clock from Pi

set_frequency REFCLK   12.0
set_frequency CORECLK  85.0
